services:
  postgres_de:
    image: postgres:13
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=postgres_db
    volumes:
      - "./finance_postgres_data:/var/lib/postgresql/data:rw"
    ports:
      - "5432:5432"
    networks:
     - airflow
networks:
 airflow:
   external:
     name: airflow_setup_default
